@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

.header-container {
  display: flex;
  justify-content: center;
}

.header {
  margin-top: 50px;
  padding-top: 10px;
  width: 80%;

  font-family: 'Press Start 2p';
  text-align: center;
}

.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--bs-light);
  border-radius: .3rem;
}

#playAgain {
  display: none;
}

.results-container {
  font-family: 'Press Start 2p';
  text-shadow: 2px 2px 2px lightgray;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.willToLiveContainer {
  width: 445px;
  height: 200px;
  margin-right: 80px;
  text-align: center;
  padding-top: 55px;
}


.timeContainer {
  width: 445px;
  height: 200px;
  margin-left: 75px;
  padding-top: 55px;
  text-align: center;
}

.heroContainer {
  font-family: 'Press Start 2p';
  text-shadow: 2px 2px 2px lightgray;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 50px;
  height: 300px;
}

.eventContainer {
  width: 350px;
  height: 200px;
  margin-right: 50px;
}

.employeeContainer img {
  width: 300px;
  height: auto;
}

.diceContainerimg {
  width: 200px;
  height: auto;
  margin-left: 80px;
  margin-right: 130px;
}

.statusContainerParent {
  display: flex;
  justify-content: center;
}

.statusContainer {
  margin-top: 50px;
  font-family: 'Press Start 2p';
  height: 200px;
  width: 450px;
  padding-top: 55px;
  text-align: center;
}

.button-container {
  font-family: 'Press Start 2p';
  text-shadow: 2px 2px 2px lightgray;
  margin-top: 20px;
  width: 100%;
  position: fixed;
  text-align: center;
}

.btn-success {
  background-color: black;
}

.btn-success:hover {
  background-color: #5dc3da;
}

.btn-success:

.diceToggle1 {
  display: none;
  width: 200px;
  height: auto;
  margin-left: 80px;
  margin-right: 130px;
}

.diceToggle2 {
  display: none;
  width: 200px;
  height: auto;
  margin-left: 80px;
  margin-right: 130px;
}
.diceToggle3 {
  display: none;
  width: 200px;
  height: auto;
  margin-left: 80px;
  margin-right: 130px;
}
.diceToggle4 {
  display: none;
  width: 200px;
  height: auto;
  margin-left: 80px;
  margin-right: 130px;
}
.diceToggle5 {
  display: none;
  width: 200px;
  height: auto;
  margin-left: 80px;
  margin-right: 130px;
}
.diceToggle6 {
  display: none;
  width: 200px;
  height: auto;
  margin-left: 80px;
  margin-right: 130px;
}